
#########################
# RainbowKit
#########################

# to get a project id, go to https://dashboard.rainbowkit.com/
NEXT_PUBLIC_RAINBOWKIT_PROJECT_ID=

# sepilia rpc url, go to https://infura.io/ to get a project id and rpc url, eg  https://sepolia.infura.io/v3/${infura_project_id}
NEXT_PUBLIC_ETHEREUM_SEPOLIA_RPC_URL=

#########################
# Tenderly
#########################
# to get a project id, go to https://dashboard.tenderly.co/
NEXT_PUBLIC_TENDERLY_PROJECT_ID=
# enable vnets to use tenderly vnets
NEXT_PUBLIC_TENDERLY_VNETS_ENABLED=true
# enable to use testnets
NEXT_PUBLIC_ENABLE_TESTNETS=true

#########################
# Etherscan
#########################

# to get an api key, go to https://etherscan.io/myapikey
NEXT_PUBLIC_ETHERSCAN_API_KEY=

#########################
# Contract Addresses
#########################

#  Factory Address
NEXT_PUBLIC_CONTRACT_SEPOLIA_ADDRESS=0x43bAeD0FA2AA5a5eA269B49EAF26821C6c0B22EF
